@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.main-page {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  width: 100%;
  /* position: relative; */
}

.title {
  font-family: "Pacifico", cursive;
  font-size: 42pt;
  font-weight: 300;
  font-style: normal;
  color: rgb(2, 75, 2);
  margin-top: 200px;
}

.logo-img {
  max-width: 300px;
  margin-bottom: 100px;
}

.background-video {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.header-pic {
  position: absolute;
  z-index: 9999;
  transform: translateX(-50%);
  top: 70px;
  max-width: 600px;
}

.lottery-form {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(155, 10, 10);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 550px;
  text-align: center;
  z-index: 1000;
  box-sizing: border-box;
}

a {
  color: rgb(2, 75, 2);
  transition: transform 0.2s ease;
  display: inline-block;
}

a:hover {
  color: rgb(2, 75, 2);
  transform: scale(1.1);
}

.available-tickets {
  font-size: 14pt;
}

.inputs-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  width: 250px;
  height: 30px;
  text-align: center;
  color: black;
  background-color: white;
  border: 2px solid rgb(155, 10, 10);
  border-radius: 10px;
}

button {
  background-color: rgb(2, 75, 2);
  color: white;
  transition: transform 0.2s ease;
}

button:hover {
  border-color: rgb(2, 75, 2);
  transform: scale(1.1);
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.custom-alert {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 16pt;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
  max-width: 90%;
  white-space: normal;
}

.custom-alert button {
  border: none;
  background: transparent;
  font-size: 14pt;
  cursor: pointer;
  color: red;
}

#audio-mini {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.177);
  padding-right: 23px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(4px);
  width: 30px;
  height: 110px;
}

#audio-mini button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 4px;
  color: rgb(155, 10, 10);
  transition: transform 0.2s ease;
}

#audio-mini button:hover {
  transform: scale(1.3);
}
